.blue-background {
  background-color: var(--blue-background);
}

.red-background {
  background-color: #ec0000;
}

.green-background {
  background-color: #14d24d;
}

.purple-background {
  background-color: #cb5bff;
}

.home-section h2 {
  font-family: sourGummyRegular;
  font-size: 3.5rem;
}

.home-section h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.home-section h2 img {
  width: 50px;
  height: 50px;
}

.home-section h2 span {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-pet h3 {
  font-family: sourGummyRegular;
  text-align: center;
  font-size: 2.3rem;
}

.home-section {
  padding: 7rem 2rem;
}

.home-section:nth-child(odd) {
  background-color: #fafafa;
}

.home-section:nth-child(even) {
  background-color: var(--blue-background);
}

.home-header {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  align-items: flex-end;
  padding: 7rem 3rem;
  background-color: var(--light-gray);
}

.home-header .background-image {
  position: absolute;
  left: 0;
  right: 0;
  margin-inline: auto;
  width: fit-content;
  z-index: 0;
}

.home-pet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.home-pet img {
  max-width: 400px;
  height: 474px;
}

.home-pet-facts {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  padding: 1.2rem 2.5rem;
  width: 450px;
  min-height: 474px;
  gap: 25px;
  background-color: var(--light-gray);
}

.home-pet-facts h3 {
  text-align: center;
  font-size: 1.8rem;
}

.home-pet,
.home-pet-facts {
  z-index: 5;
}

.pet-fact-flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pet-fact-container {
  display: flex;
  width: 100%;
  gap: 10px;
  font-family: raleWayBold;
}

.pet-fact-container div > p:first-child {
  color: #969696;
}

.fact-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 80px;
}

.fact-details p:nth-child(2) {
  font-size: 1.3rem;
}

.icon-container {
  height: 60px;
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.2rem;
}

.pet-fact-container img {
  width: 54px;
}

.box {
  border: 4px solid black;
  background-color: white;
  height: 400px;
  max-width: 1500px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.chart-container {
  max-height: 600px;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
}

.new-weight-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  max-width: 600px;
  padding: 0.3rem 0.5rem;
  text-align: center;
}

.new-weight-container label {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.new-weight-container input {
  margin-left: 0.5rem;
  line-height: 25px;
}

.new-weight-container input,
.new-weight-container button {
  display: inline;
}

.new-weight-container button {
  margin-top: 0;
}

@media screen and (max-width: 969px) {
  .home-section {
    padding: 2rem 0;
  }

  .home-header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 55px;
    padding: 2rem 0;
  }

  .background-image {
    display: none;
  }

  .home-pet-facts {
    width: 85%;
    min-height: 217px;
  }

  .pet-fact-container {
    flex-direction: column;
    align-items: center;
  }

  .pet-fact-flex {
    flex-direction: row;
  }

  .chart-container {
    width: 80%;
  }
}

@media screen and (max-width: 650px) {
  .home-section h2 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 550px) {
  .pet-fact-flex {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }
  .pet-fact-container {
    max-width: 80px;
  }
}

@media screen and (max-width: 500px) {
  .home-section h2 {
    font-size: 2.5rem;
  }
  .home-section h2 img {
    width: 40px;
    height: 40px;
  }

  .home-pet img {
    height: 315px;
  }

  .icon-container {
    height: 50px;
    width: 50px;
    padding: 1.7rem;
  }

  .pet-fact-container img {
    width: 40px;
  }

  .pet-fact-flex {
    gap: 10px;
  }
}

@media screen and (max-width: 400px) {
  .home-section h2 {
    font-size: 2rem;
  }
  .home-section h2 img {
    width: 32px;
    height: 32px;
  }
  .home-section h3 {
    font-size: 1.8rem;
  }

  .home-pet img {
    height: 250px;
  }

  .icon-container {
    height: 60px;
    width: 60px;
  }

  .pet-fact-container {
    flex-direction: row;
  }

  .pet-fact-container img {
    width: 45px;
  }

  .pet-fact-flex {
    flex-direction: column;
  }
}
