.header1 {
  font-size: 2.5rem;
}

.box {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.appointment-header {
  text-align: center;
  padding: 1.5rem 0;
  background-color: var(--blue-background);
  color: white;
  font-size: 1.5rem;
}

.appointment-form {
  /* background-color: red; */
  max-width: 400px;
  width: 50%;
  margin: 0 auto;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.appointment-form > div {
  display: flex;
}

.appointment-form label {
  font-family: raleWayBold;
  width: 150px;
  display: inline-block;
  align-self: center;
  font-size: 1.2rem;
}

.appointment-form input {
  line-height: 25px;
}

.appointment-form select {
  height: 27px;
}

.appointment-form input,
.appointment-form select {
  flex-grow: 1;
}

.half-inputs input{
  width: 90%;
}

.button {
  display: block;
  font-family: raleWayBold;
  padding: 0.5rem 0;
  width: 180px;
  text-align: center;
  border-radius: 9px;
  text-decoration: none;
  font-size: 1.2rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  width: 100%;
}

.break {
    border: none;
    height: 1px;
    background-color: gray;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
}

.appointments {
  padding-bottom: 2rem;
}

@media screen and (max-width: 900px){
  .appointment-form {
    width: 100%;
  }
}

@media screen and (max-width: 500px){
  .appointment-form {
    max-width: 370px;
    padding: 0 1.5rem;
  }

  .appointment-form label{
    font-size: 1rem;
  }

  .appointment-form input {
    line-height: 20px;
  }

  .appointment-form select {
    height: 25px;
    font-size: 14px;
  }
}

@media screen and (max-width: 375px){
  .header1 {
    font-size: 1.8rem;
  }

  .appointment-header {
    font-size: 1.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .half-inputs {
    width: 100%;
  }

  .half-inputs div {
    width: 52%;
  }

  .half-inputs input {
    font-size: 14px;
  }

  .appointment-form input[type=date] {
    font-size: 12px;
  }

  .button {
    font-size: 1rem;
  }
}

@media screen and (max-width: 288px){

  .input {
    font-size: .8rem;
  }
  .appointment-form label {
    font-size: .9rem;
  }

  .appointment-form input[type=date]{
    font-size: 11px;
  }

  .appointment-form select {
    height: 23px;
    font-size: 13px;
  }


}
