@media screen and (min-width: 992px){    
    .main-page-h1 {
      font-family: sourGummyRegular;
      font-size: 3rem;
      padding: 1rem 0;
    }
    
    .home-logo {
      width: 100%;
      max-width: 350px;
      margin: 0 auto;
      padding: 2.5rem 0;
      border-radius: 50%;
      background-color: white;
      margin-top: 2.5rem;
      
    }
    
    .home-logo img {
      display: block;
      max-width: 240px;
      border-radius: 10%;
    }
  
    .main-page-section {
      margin-top: 1rem;
      font-family: raleway;
    }
  
    .main-page-section form {
      display: flex;
      flex-direction: column;
      width: 35%;
      margin: 1rem auto;
      gap: 13px;
    }
  
    .main-page-section label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }
  
    .main-page-section input {
      display: inline-block;
      width: 100%;
      line-height: 35px;
      padding-left: 7px;
      font-size: 1.1rem;
      font-weight: 100;
      font-family: raleWayLight;
    }
    
    .links {
      gap: 13px;
    }
  
    .links :first-child:hover {
      background-color: var(--blue-background);
      color: white;
      font-weight: bold;
      border: none;
    }
  
    .links :nth-child(2):hover {
      background-color: var(--blue-background);
      font-weight: bold;
    }
  
    .links :last-child{
      text-decoration: none;
      font-family: ralewayBold;
      color: black;
    }
  
    .links :last-child:hover{
      color: var(--blue-background );
    }
    
  }
  