.navbar {
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
    width: 100%;
    border-bottom: 1px solid black;
    padding: .5rem 1rem;
}

.navbar-image {
    width: 80px;
    height: 80px;
}

.profile-options {
    display: flex;
    background-color: red;
}

.navbar-links {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar-links a {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
}

.navbar-links li {
    list-style: none;
    font-family: raleway;
}

