.create-account-header {
    text-align: center;
    background-color: var(--blue-background);
    color: white;
    padding: 2rem 0;
    font-size: 2rem;
}

.create-account-h2{
    font-family: raleway;
    font-size: 1.8rem;
    margin-top: 2rem;
}

.back-button{
    margin-left: .8rem;
    margin-top: .5rem;
}

.container {
    max-width: 950px;
    width: 70%;
    margin: 0 auto;
    margin-top: 1rem;
    font-family: raleway;
}

.container form {
    display: flex;
    flex-direction: column;
    padding: .7rem;
    gap: 10px;
    
}

.container a {
    display: block;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .5rem;

}

.container a:hover {
    background-color: var(--blue-background);
}
