.create-account-header {
    text-align: center;
    background-color: var(--blue-background);
    color: white;
    padding: 2rem 0;
    font-size: 2rem;
}

.create-account-h2{
    font-family: raleway;
    font-size: 1.8rem;
    margin-top: 2rem;
}