@font-face {
  font-family: sourGummyRegular;
  src: url(./assets/fonts/sour-gummy/SourGummy-Regular.ttf);
}

@font-face {
  font-family: sourGummyBold;
  src: url(./assets/fonts/sour-gummy/SourGummy-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: raleway;
  src: url(./assets/fonts/raleway/Raleway-Regular.ttf);
}

@font-face {
  font-family: ralewayBold;
  src: url(./assets/fonts/raleway/Raleway-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: raleWayLight;
  src: url(./assets/fonts/raleway/Raleway-Light.ttf);
}

* {
  box-sizing: border-box;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  --blue-background: hsl(194, 100%, 46%);
  --scarlet: hsl(14, 100%, 46%);
  --border-stroke: hsl(0, 0%, 59%);
  --grey-filler: hsl(0, 0%, 94%);
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: ralewayBold;
}

.margin-top-2 {
  margin-top: 2rem;
}

.margin-top-3 {
  margin-top: 3rem;
}

.width-100 {
  width: 100%;
}

.blue-background {
  background-color: var(--blue-background);
  color: white;
}

.grey-filler {
  background-color: var(--grey-filler);
  color: black;
}

.text-center {
  text-align: center;
}

.background-red {
  background-color: red;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.orange-button {
  background-color: var(--scarlet);
  color: white;
  border: none;
}

.input {
  display: inline-block;
  width: 100%;
  line-height: 35px;
  padding-left: 7px;
  font-size: 1.1rem;
  font-weight: 100;
  font-family: raleWayLight;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-family: raleWayLight;
}
