@font-face {
  font-family: sourGummyRegular;
  src: url(./assets/fonts/sour-gummy/SourGummy-Regular.ttf);
}

@font-face {
  font-family: sourGummyBold;
  src: url(./assets/fonts/sour-gummy/SourGummy-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: raleway;
  src: url(./assets/fonts/raleway/Raleway-Regular.ttf);
}

@font-face {
  font-family: ralewayBold;
  src: url(./assets/fonts/raleway/Raleway-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: raleWayLight;
  src: url(./assets/fonts/raleway/Raleway-Light.ttf);
}

* {
  box-sizing: border-box;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  --blue-background: hsl(194, 100%, 46%);
  --scarlet: hsl(14, 100%, 46%);
  height: 100vh;
}

header {
  font-family: ralewayBold;
}

.blue-background{
  background-color: var(--blue-background);
  color: white;
}

.text-center{
  text-align: center;
}

.flex-column-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  border: 1px solid black;
  color: black;
  padding: .5rem 0;
  width: 180px;
  text-align: center;
  border-radius: 9px;
  text-decoration: none;
  font-size: 1.2rem;
}

.orange-button {
  background-color: var(--scarlet);
  color: white;
  border: none;
}


